{% extends "igle/base.html" %}

{% block body %}
		
<div class="row">
		
	<div class="col-md-8 col-md-offset-2">

		<div class="page-header">
		  <h1>Geolocation API<small></small></h1>
		</div>


		<div class="alert alert-danger alert-dismissible" role="alert" id="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>

		<div class="panel panel-default">
		  <div class="panel-body">
			  <p id="paragraph">
				  <b>latitud:</b> 000, <b>longitud:</b> 111
			  </p>
			  <button type="button" class="btn btn-primary" id="GetLatLon">Obtener posición</button>
		  </div>
		</div>

	</div>

</div>
	
{% endblock %}

{% block script %}
	<script type="text/javascript">
		
		function NotSupportGeolocationAPI() {
			
			$("#alert").addClass("hidden");
			$("#paragraph").text("Este navegador no soporta Geolocation API");
			
		}
			
		
		$(document).ready(function(){
			
			var $paragraph = $("#paragraph");
			
			if (!navigator.geolocation) {
				NotSupportGeolocationAPI();
				return;
			}
			
			function sowMap(position) {
				
				var $html = "<b>latitud:</b> " + position.coords.latitude + ", <b>longitud:</b> " + position.coords.longitude;
				
				$paragraph.html($html);
				
			}
			
			function showError(error) {
				$("#alert").text(error.message);
			}
			
			
			$("#GetLatLon").click(function () {
				navigator.geolocation.getCurrentPosition(sowMap, showError);
			});
			
		});
		
	</script>
{% endblock %}