<nav class="navbar navbar-default">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sistema de informacion</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <!-- App Links -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}"> Inicio <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="{% url 'personas:list_view' %}"> Personas <span class="sr-only">Módulo de personas</span></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
