{% extends "igle/base.html" %}

{% block content %}

<div class="container">
	
	<div class="row">

		<div class="col-md-12">

			<div class="page-header">
			  <h1>Planificador año {{ anio }} <small></small></h1>
			</div>
			
			<br>

			<div class="text-center">

				<iframe src="https://calendar.google.com/calendar/embed?title=Veinte%20de%20Julio%2C%20Distrito%2019%2C%20Iglesia%20Pentecostal%20Unida%20de%20Colombia&amp;height=600&amp;wkst=1&amp;hl=es_419&amp;bgcolor=%23ffffff&amp;src=iglesiasoft%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FBogota" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

			</div>

		</div>

	</div>
	
</div>
	
{% endblock %}