{% extends "igle/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="{% url 'personas:create_view' %}" class="btn btn-primary">Agregar nueva persona</a>
			</div>
			
			<h1>Personas <small>(listar)</small></h1>
			
		</div>
	</div>
</div>

<div class="row">
    
    {% for p in personas %}
	<div class="col-md-4">
		<div class="list-group">
            <a class="list-group-item" href="{{ p.get_absolute_url }}">
				<span class="badge"> {% if p.genero == "M" %} Hombre {% else %} Mujer {% endif %} </span>
				<h4 class="list-group-item-heading"> {{ p.nombre }} </h4>
				<p class="list-group-item-text">Se congrega en {{ p.congregacion }} </p>
			</a>
		</div>
	</div>
    {% endfor %}
    
</div>

<div class="row">
	<div class="col-md-12 text-center">

		<ul class="pagination">
			
			{% if not page_obj.has_previous %}
				<li class="disabled"><a href="#">« Anterior</a></li>
			{% else %}
				<li ><a href="?page={{ page_obj.previous_page_number }}">« Anterior</a></li>
			{% endif %}


			{% for i in page_obj.paginator.page_range %}
				<li class="{%if page_obj.number == i %}active{% endif %}"><a href="?page={{ i }}"> {{ i }} </a></li>
			{% endfor %}


			{% if not page_obj.has_next %}
				<li class="disabled"><a href="#">siguiente »</a></li>
			{% else %}
				<li ><a href="?page={{ page_obj.next_page_number }}">siguiente »</a></li>
			{% endif %}

		</ul>

	</div>
</div>

{% endblock %}